html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;  
  background: radial-gradient(rgb(236, 244, 255),rgb(91, 92, 94));
}
.grid-container {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 1200px;
  grid-template-columns: repeat(8, 1fr); 
  grid-template-rows: repeat(8, 1fr);   
}

.grid-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 100%;
}

.chess-board-container {
  position: relative;
  width: 1200px;
  height: 1200px;
}

.chess-board-container button {
  border: none;
}

.white {
  background-color: rgb(187, 163, 141);
}

.black {
  background-color: rgb(87, 65, 45);
}


.valid-move {
  z-index: 10;
  background-color: rgba(255, 61, 61, 0.418);
}

.invalid-move {
  background-color: transparent;
}

.chess-image {
  position: relative;
  z-index: 2;
  height:140px;
  width: auto;
}

@media (max-width: 1920px) {

   .chess-board-container {
    width: 800px;
    height: 800px;
  }
  .grid-container {
    width: 800px;
    height: 800px;
  }

  .chess-image {
    height: 80px;
    width: auto;
  }
}

.pop-up{
  display: flex;
  position: absolute;
  z-index: 10;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  border: 4px solid rgb(59, 1, 1);
  border-radius: 30px;
  background-color: rgb(148, 64, 64);
  padding: 40px;
  text-align: center;
  align-items: center;
  font: 1em sans-serif; 
  font-size: 22px;
  font-weight: bold;
  white-space: pre-wrap;
  color: white;
} 

.game-over {
  display: flex;
  align-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(24, 24, 24, 0.85);
  justify-content: center;
  align-items: center;
  font: 1em sans-serif;
  font-size: 60px;
  font-weight: bold;
  white-space: pre-wrap;
  line-height: 20px;
  color: white;
  animation: slidingDown 1s ease-in-out forwards;
}

.game-over div {
  height: 500px;  
  width: auto;
  padding: 80px;
  align-content: center;
  text-align: center;
  background-color: rgba(24, 24, 24);
  border-radius: 30px;
}

.game-over p {
  font-size: 45px;
}

@keyframes slidingDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.play-again-btn {
  margin-top: 50px;
  height: 100px;
  width: 200px;
  align-content: center;
  text-align: center;
  font: 1em sans-serif;
  color: white;
  font-size: 25px;
  background-color: rgb(151, 151, 151);
  border-radius: 30px;
  
}
.play-again-btn:hover {
    background-color: rgb(182, 182, 182);
}

.loading {
  display: flex;
  align-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(24, 24, 24, 0.85);
  justify-content: center;
  align-items: center;
  font: 1em sans-serif;
  font-size: 60px;
  font-weight: bold;
  white-space: pre-wrap;
  line-height: 20px;
  color: white;
}

.start-screen {
  display: flex;
  align-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(24, 24, 24, 0.85);
  justify-content: center;
  align-items: center;
  font: 1em sans-serif;
  font-size: 60px;
  font-weight: bold;
  white-space: pre-wrap;
  line-height: 20px;
  color: white;
}

.start-button {
  margin-top: 20px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: rgb(65, 132, 254);
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 175px;
}

.start-button:hover {
  background-color: rgb(91, 148, 255);
}

.select-difficulty {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
}

.difficulty-btn {
  border: 3px solid transparent;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(79, 79, 79);
  color: white;
  width: 150px;
}

.difficulty-btn:hover {
  background-color: rgb(115, 115, 115);
}

.difficulty-btn.selected {
  border: 3px solid rgb(86, 159, 255);
}

.move-made {
  z-index: 1;
  pointer-events: none;
  background-color: rgba(3, 96, 183, 0.418);
}

.no-move-made {
  background-color: transparent;
}